<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${title}|"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:include="nav :: header"/>
<div class="container mt-5 mb-5">
    <h1>Редактирование автомобиля</h1>
    <div th:each="car : ${auto}" class="alert alert-info mt-2">
        <form method="POST">
            <span>Марка: <input type="text" name="name" th:value="${car.brand}" placeholder="Марка" class="form-control mt-2"/></span>
            <span>Модель: <input type="text" name="model" th:value="${car.model}" placeholder="Модель" class="form-control mt-2"/></span>
            <span>Год выпуска: <input type="text" name="year" th:value="${car.years}" placeholder="Год выпуска" class="form-control mt-2"/></span>
            <span>Бампер: <input type="text" name="year" th:value="${car.bumper}" placeholder="Бампер" class="form-control mt-2"/></span>
            <span>Стекла: <input type="text" name="year" th:value="${car.windscreen}" placeholder="Стекла" class="form-control mt-2"/></span>
            <span>Химчистка:<input type="text" name="year" th:value="${car.clean}" placeholder="Химчистка" class="form-control mt-2"/></span>
            <span>Цвет: <input type="text" name="color" th:value="${car.color}" placeholder="Цвет" class="form-control mt-2"/></span>
            <span>VIN: <input type="text" name="name" th:value="${car.vin}" placeholder="VIN" class="form-control mt-2"/></span>
            <span>Цена покупки: <input type="text" name="price" th:value="${car.price}" placeholder="Цена покупки" class="form-control mt-2"/></span>
            <button type="submit" class="btn btn-primary mt-2" th:text="|Обновить|"/>
        </form>
    </div>
</div>
<footer th:include="footer :: footer"/>
</body>
</html>