<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${title}|"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:include="nav :: header"/>
<div class="container mt-5">
    <h1 th:text="Автомобили"/>
    <button type="button" class="btn btn-primary mt-2" onclick="window.location.href='/auto/add'">Добавить</button>
    <div th:each="car : ${auto}" class="alert alert-info mt-2">
        <h3 th:text="${car.brand}"></h3>
        <p><b>Модель: </b><span th:text="${car.model}"/></p>
        <p><b>Год: </b><span th:text="${car.years}"/></p>
        <p><b>Цвет: </b><span th:text="${car.color}"/></p>
        <p><b>Состояние: </b><span th:text="${car.state}"/></p>
        <p><b>VIN: </b><span th:text="${car.vin}"/></p>
        <p><b>Бампер: </b><span th:text="${car.bumper}"/></p>
        <p><b>Стекла: </b><span th:text="${car.windscreen}"/></p>
        <p><b>Химчистка: </b><span th:text="${car.clean}"/></p>
        <hr>
        <p><b>Цена покупки: </b><span th:text="${car.price}"/> ILS</p>
        <a th:href="'/auto/' + ${car.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        <form th:action="@{'/auto/' + ${car.id} + '/remove'}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button class="btn btn-danger mt-3" type="submit">Удалить</button>
        </form>
    </div>
</div>
<footer th:include="footer :: footer"/>
</body>
</html>